
.Background {
  background-image: url('../../../src/img/background.jpg'); 
  background-size: cover;
  height: 220vh;
  background-attachment: fixed;
  }
  
  
  /* ---------------------------- */
  /* Défilement de droite à gauche */
  .animation {
      overflow: hidden; /* important */
      width:50%; max-width: 30em; 
    }
    .animation > div {
      display: flex; /* important */
      white-space: nowrap; /* important */
      animation: defilement-rtl 15s infinite linear; /* défilement */
      cursor: pointer;
      padding: 10px 2em 10px 100%;
    }
    .animation:hover > div {
      animation-play-state: paused; /* met en pause le défilement */
    }
    .animation > div:first-letter {
      font-weight: 700;
      color: #F00;
    }
    @keyframes defilement-rtl {
      0% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }
      100% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
      }
    }
    /* ---------------------------- */
    /* texte sur plusieurs lignes automatiquement */
    .animation-lignes > div { 
      width:90%; 
      white-space: normal; /* important */
    }
    
    /* ---------------------------- */
    /* déco */
    
    .animation {
      margin: 2em auto;
    }
    .animation > div {
      font-size: 1.5em;
    }
  
    /*  Responsive   */
  
  @media(max-width:760px){
    .restaurant-list{
      text-align: center;
      /* margin-left: 50%; */
    }
  
    .Card{
      margin-left: 22%;
    }
  
    .GOD{
      margin-left: -25%;
    }
  }
  
  /*  Smarthpone    */
    
  @media(max-width:500px){
    .Card{
      margin-left: 2%;
    }
  
      .GOD{
      margin-left: -55%;
    }
  }